* {
  margin: 0px;
  font-family: "inter";
}

/* Seccion Header */

header {
  background-color: #303030;
  height: 475px;
  color: #ffffff;
  display: flex;
  align-items: center;
  padding-left: 65px;
}

#headerTitle {
  font-size: 60px;
}

#headerDescription {
  font-size: 18px;
}

/* Seccion Information */

#information {
  background-color: #eaece5;
  display: grid;
  grid-auto-flow: column;
  columns: auto;
  padding: 50px;
  justify-content: space-around;
}

#numberInformation {
  background-color: #303030;
  color: aliceblue;
}

/* Seccion Content */

#content {
  display: grid;
  grid-auto-flow: column;
  columns: auto;
  justify-content: space-around;
}

#contentTitle {
  color: #000000;
  margin-top: 120px;
  margin-left: 150px;
}

img {
  width: 300px;
  margin: 50px 0px 50px 0px;
}

#contentDescription {
  text-align: justify;
  padding-left: 160px;
  max-width: 500px;
}

/* Seccion Forms */

#forms {
  text-align: center;
  background-color: #303030;
}

#formsTitle {
  font-size: 20px;
  margin: 25px;
  padding-top: 50px;
  color: #ffffff;
}

input {
  width: 300px;
  height: 40px;
  background-color: #eaece5;
  margin: 15px;
  border: 0px;
  border-radius: 5px;
  padding-left: 10px;
  outline: none;
}

button {
  background-color: #c07212;
  height: 40px;
  width: 250px;
  color: #eaece5;
  border: 0px;
  border-radius: 5px;
  margin-bottom: 50px;
  font-weight: bolder;
  cursor: pointer;
}

button:hover {
  background-color: #ff8c00;
  color: white;
  transform: translateY(-5px);
  box-shadow: 0px 15px 20px #05103081;
  transition-duration: 0.5s;
}
